*
!*/
!.gitignore
!/**/.gitignore


!Dockerfile
!.gitlab-ci.yml
!.gitmodules
!README.md
!requirements.txt

!/src/*.py
!/data/.gitignore
!/deployment/**
!/scripts/**
!/commonutils/**
!/src/notebooks/**/*.ipynb
!/src/notebook/**/*.ipynb
!data/*
/src/test.py
/src/test_2.py
